[Unit]
Description=Capture a duplicity backup of the Arch repositories
After=arch-repo-rsync.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/docker run \
-m 8g \
-v /srv/arch-mirror:/repo \
-v /home/aditya:/aditya-home \
--rm \
duplicity-repository-backup

[Install]
WantedBy=multi-user.target
